.theme-button {
    @include flexCenter();
    @include widthFit();
    font-size: 15px;
    font-weight: 600;
    padding: 1rem 2rem;
    transition-duration: 0.1s;
    border-radius: var(--button-radius);
    position: relative;
    text-decoration: none !important;
    /*span {
        position: relative;
        &::after {
            content: "";
            height: 2px;
            background-color: transparent;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            transition-duration: 0.1s;
        }
    }*/
    &-arrow {
        svg {
            margin-left: 1rem;
            path {
                transition-duration: 0.1s;
            }
        }
        &:hover {
            &.theme-button-highlight svg path{
                fill: var(--highlight-color);
            }
            &.theme-button-highlight2 svg path {
                fill: var(--secondary-color);
            }
        }
    }
    
    &-icon {
        @extend .theme-button-arrow;
        svg {
            margin-left: 0;
        }
    }
    &-bordered {
        border: 2px solid;
        padding: .95rem 1.95rem;
    }
    &-highlight {
        border-color: var(--highlight-color);
        background-color: var(--highlight-color);
        color: var(--secondary-color);
        &:not(.disable-hover):hover {
            color: var(--highlight-color);
            background-color: var(--highlight-color2);
        }
    }
    &-highlight2 {
        border-color: var(--highlight-color2);
        background-color: var(--highlight-color2);
        color: var(--highlight-color);
        &:not(.disable-hover):hover {
            color: var(--secondary-color);
            background-color: var(--highlight-color);
        }
    }
    &-bordered {
        &:hover {
            &.theme-button-highlight {
                color: var(--highlight-color);
            }
            &.theme-button-highlight2 {
                color: var(--highlight-color2);
            }
        }
    }
    &-icon {
        display: flex;
        &:hover {
            text-decoration: none;
            /*.theme-button {
                span {
                    &::after {
                        background-color: var(--secondary-color);
                    }   
                }
            }*/            
        }
        .theme-icon {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .theme-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}