.buttons-filter {
    margin-bottom: 4rem;
    @include media("md") {
        margin-bottom: 3rem;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flexCenter();
        flex-wrap: wrap;
        gap: .5rem;
        li {
            @include media("lg") {
                width: 40%;
            }
            @include media("sm") {
                width: 100%;
            }
            a {
                min-width: 160px;
                text-align: center;
                border: 1px solid var(--border-color);
                background-color: var(--secondary-color);
                transition-duration: 0.15s;
                color: var(--highlight-color);
                padding: .75rem .5rem;
                display: block;
                text-decoration: none;
                font-weight: 600;
                border-radius: var(--button-radius);
                &.active, &:hover {
                    border-color: var(--highlight-color2);
                    background-color: var(--highlight-color2);
                    color: var(--secondary-color);
                }
            }
        }
    }
}