.theme-pagination {
    ul {
        list-style: none;
        padding: 0;
        margin: 5rem -.15rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media("md") {
            margin: 3rem -0.15rem 0;
        }
        li {
            padding: 0 .15rem;
            a {
                @include flexCenter();
                color: var(--primary-color);
                border-radius: var(--button-radius);
                font-size: 15px;
                font-weight: 500;
                text-decoration: none;
            }
            &:not(:first-child):not(:last-child) {
                a {
                    width: 33px;
                    aspect-ratio: 1/1;
                }
                &.active a, a:hover {
                    background-color: var(--highlight-color2);
                }
            }
            &:last-child, &:first-child {
                a:hover {
                    color: var(--highlight-color);
                }
            }
            &:last-child a {
                margin-left: .5rem;
            }
            &:first-child a {
                margin-right: .5rem;
            }
        }
    }
}