.company {
    &-concern {
        margin-top: 7rem;
        margin-right: 3rem;
        border: 9px solid var(--border-color);
        border-radius: var(--border-radius);
        padding: 3rem;
        @include media("xl") {
            margin-right: 0;
        }
        @include media("lg") {
            margin-top: 3rem;
        }
        @include media("lg") {
            padding: 2rem;
        }
    }
    &-description {
        h3 {
            text-transform: none;
        }
    }
    &-timeline {
        background-color: var(--section-color2);
        ul {
            list-style: none;
            padding: 0;
        }
        &-slider {
            position: relative;
            &-nav {
                position: absolute;
                z-index: 1;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                @include media("lg") {
                    display: none;
                }
            }
            &-bottom, &-top {
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                @include media("lg") {
                    position: unset;
                }
            }
            &-row {
                display: flex;
                @include widthFit();
                margin: 0 auto;
                transition-duration: 0.2s;
                @include media("lg") {
                    flex-direction: column;
                    margin: 0;
                }
            }
            &-bottom {
                top: 0;
                .company-timeline-item {
                    &::before {
                        top: 1px;
                    }
                }
            }
            &-top {
                bottom: 0;
                .company-timeline-item {
                    &::before {
                        bottom: 1px;
                    }
                }
            }
            @include media("lg") {
                &-inner {
                    border-left: 11px solid var(--secondary-color);
                    position: relative;
                    &::before, &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 11px;
                        height: 2rem;
                        left: -11px;
                        position: absolute;
                    }
                    &::before {
                        content: "";
                        top: -2rem;
                        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(9,8,9,0) 100%);
                    }
                    &::after {
                        content: "";
                        bottom: -2rem;
                        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,8,9,0) 100%);
                    }
                }
            }
        }
        &-line {
            width: 100%;    
            height: 11px;
            background-color: var(--secondary-color);
            display: block;
            margin: 200px 0;
            @include media("lg") {
                display: none;
            }
        }
        &-item {
            height: 200px;
            width: 200px;
            border-left: 3px solid var(--secondary-color);
            padding: 0 1.25rem;
            position: relative;
            transition: margin-left 0.2s, margin-right 0.2s;
            margin-right: 0;
            margin-left: 0;
            opacity: 1;
            @include media("lg") {
                border-left: 0;
                width: 100%;
                height: auto;
                border-top: 3px solid var(--secondary-color);
                padding: 1.5rem 2rem 1.5rem 2rem;
            }
            &:not(.active) {
                opacity: 0;
                position: absolute;
                margin-left: -4rem;
                @include media("lg") {
                    position: relative !important;
                    opacity: 1;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
            &.active ~ *:not(.active) {
                margin-left: 0;
                margin-right: -4rem;
            }
            &::before {
                content: "";
                background-color: var(--highlight-color);
                display: block;
                width: 9px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                position: absolute;
                left: -6px;
                @include media("lg") {
                    left: -10px;
                    bottom: unset !important;
                    top: -6px !important;
                }
            }
            p {
                font-size: 14px;
                line-height: 26px;
            }
        }
    }
}