.product-detail {
    &-imagebox {
        margin-bottom: .94rem;
        background-color: var(--section-color);
        border-radius: var(--border-radius);
        img {
            width: 100%;
            height: 480px;
            object-fit: cover;
            border-radius: var(--border-radius);
            @include media("sm") {
                height: 300px;
            }
        }
    }
    &-images-owl {
        &-item {
            img {
                border-radius: var(--border-radius);
                object-fit: cover;
                height: 154px;
                @include media("md") {
                    height: 125px;
                }
            }
        }
        .owl-nav {
            margin-top: 0;
            button {
                &.owl-prev, &.owl-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    @include flexCenter();
                    border-radius: var(button-radius);
                    background-color: var(--section-color2) !important;
                    margin: 0 !important;
                    width: 40px;
                    aspect-ratio: 1/1;
                    &, svg, path {
                        transition-duration: 0.1s;
                    }
                    &:hover {
                        background-color: var(--highlight-color) !important;
                        svg, path {
                            fill: var(--secondary-color);
                        }
                    }
                }
                &.owl-prev {
                    left: -1.25rem;
                    @include media("sm") {
                        left: -.5rem;
                    }
                }
                &.owl-next {
                    right: -1.25rem;
                    @include media("sm") {
                        right: -.5rem;
                    }
                }
            }
        }
    }
    &-description {
        &-header {
            display: flex;
            align-items: center;
            margin-bottom: 1.25rem;
            h3 {
                color: var(--highlight-color);
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: .5rem;
            ul li {
                &::before {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='11px'%3E%3Cpath fill-rule='evenodd' fill='rgb(254, 213, 10)' d='M5.122,6.571 L2.632,3.994 L0.442,6.101 L5.122,10.786 L13.960,2.280 L11.770,0.173 L5.122,6.571 Z'/%3E%3C/svg%3E");
                    background-color: transparent;
                    height: 15px;
                    margin-top: 0;
                }
            }
        }
        & > &-item {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
    &-icons {
        display: flex;
        flex-wrap: wrap;
        margin: 2.5rem -.3rem -.6rem;
        &-item {
            padding: 0 .3rem;
            width: 20%;
            @include media("xxl") {
                width: 25%;
            }
            @include media("xl") {
                width: calc(100% / 3);
            }
            @include media("lg") {
                width: 20%;
            }
            @include media("md") {
                width: 25%;
            }
            @include media("sm") {
                width: calc(100% / 3);
            }
            & > a {
                border: 3px solid var(--highlight-color2);
                border-radius: var(--border-radius);
                min-height: 134px;
                height: calc(100% - .6rem);
                margin-bottom: .6rem;
                padding: 1.25rem .75rem .75rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition-duration: 0.1s;
                &:hover {
                    border-color: var(--highlight-color);
                    text-decoration: none;
                }
                span {
                    color: var(--highlight-color);
                    font-size: 12px;
                    line-height: 14px;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: center;
                }
            }
            &-icon {
                @include flexCenter();
                height: 50px;
                margin-bottom: .5rem;
                svg {
                    max-height: 50px;
                    max-width: 75px;
                    object-fit: scale-down;
                    &, path {
                        fill: var(--highlight-color);
                    }
                }
            }
        }
        
    }
}