.quality {
    &-heading {
        margin-bottom: 5rem;
        @include media("md") {
            margin-bottom: 2.5rem;
        }
    }
    &-content {
        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
                &::before {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='11px'%3E%3Cpath fill-rule='evenodd' fill='rgb(254, 213, 10)' d='M5.122,6.571 L2.632,3.994 L0.442,6.101 L5.122,10.786 L13.960,2.280 L11.770,0.173 L5.122,6.571 Z'/%3E%3C/svg%3E");
                    background-color: transparent;
                    height: 40px;
                    width: 40px;
                    margin-top: .25rem;
                    margin-right: 1.5rem;
                    border: 3px solid var(--highlight-color2);
                    border-radius: var(--button-radius);
                    @include flexCenter();
                }
            }
        }
    }
    &-image {
        @include media("lg") {
            margin-bottom: 2.5rem;
        }
    }
    &-download {
        margin-top: 3.5rem;
        @include media("md") {
            margin-top: 2.5rem;
        }
        border: 1px solid var(--border-color);
        & > &-item:not(:last-child) {
            border-bottom: 1px solid var(--border-color);
        }
        &-item {
            padding: .9rem 1.75rem;
            &:hover {
                background-color: var(--border-color);
                text-decoration: none;
                color: var(--primary-color);
            }
            p {
                font-size: 15px;
                line-height: 22px;
                font-weight: 600;
            }
            svg {
                path {
                    fill: var(--highlight-color);
                }
            }
        }
    }
    &-certificates {
        background-color: var(--section-color2);
        .row {
            margin-bottom: -3rem;
            & > div {
                margin-bottom: 3rem;
            }
        }
        &-item {
            a {
                display: block;
                margin-bottom: 3rem;
                @include media("md") {
                    margin-bottom: 2rem;
                }
                img {
                    max-width: 165px;
                    height: 230px;
                    object-fit: scale-down;
                }
            }
            h4 {
                margin-bottom: 1.5rem;
                padding-right: 1rem;
                @include media("xxl") {
                    padding-right: 0;
                }
            }
        }
    }
}