.header {
    &-extended {
        background-image: url(../img/layout-header-home-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-menu {
        & > ul {
            gap: 2rem;
            row-gap: .5rem;
            padding: 0 1.5rem;
            @include media("xxl") {
                row-gap: .5rem;
            }
            @include media("xl") {
                padding: 0;
            }
            @include media("lg") {
                flex-direction: column;
            }
        }
        &-link {
            & > a {
                color: var(--secondary-color) !important;
                font-size: 16px;
                font-weight: 600;
                display: flex;
                align-items: center;
                text-decoration: none !important;
                padding: 0;
                svg, svg path {
                    fill: var(--secondary-color);
                }
                svg {
                    display: block;
                    margin-left: .5rem;
                }
            }
            
        }
        &-dropdown {
            position: relative;
            &-menu {
                display: none;
                padding-top: 0.5rem;
                position: absolute;
                top: 100%;
                width: 100%;
                z-index: 9999;
                @include media("lg") {
                    position: unset;
                    padding: 0rem;
                }
                & > div {
                    background-color: var(--highlight-color);
                    border-radius: var(--border-radius);
                    padding: .75rem .75rem;
                    @include media("lg") {
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        @include widthFit();
                        margin: 0 auto;
                    }
                }
                a {
                    display: flex;
                    text-decoration: none;
                    color: var(--secondary-color);
                    transition-duration: 0.15s;
                    font-size: 15px;
                    padding: 0 .5rem;
                    @include media("lg") {
                        color: var(--secondary-color);
                        font-weight: 300;
                    }
                    &:hover {
                        padding-left: 1rem;
                        padding-right: 0;
                    }
                    svg {
                        margin-right: .5rem;
                        flex-shrink: 0;
                        margin-top: 0.55rem;
                        &, path {
                            fill: var(--secondary-color);
                        }
                    }
                }
            }
            &:hover &-menu {
                display: block;
            }
        }
    }
    &-nav {
        padding: 2.5rem 1.5rem;
        @include media("xl") {
            flex-wrap: wrap;
            display: flex;
            gap: 1.25rem;
            padding: 2.5rem 0;
        }
        @include media("lg") {
            justify-content: space-between;
            padding: 1.5rem 0;
        }
    }
    &-rightbox {
        gap: 1rem;
        @include media("lg") {
            gap: .75rem;
        }
        .button {
            font-weight: 600;
        }
        &-icons { 
            gap: 1rem;
            @include media("lg") {
                gap: .75rem;
            }
            & > div {
                border: 2px solid var(--border-color-light);
                border-radius: 50%;
                & > a {
                    width: 48px;
                    @include flexCenter();
                    aspect-ratio: 1/1;
                    color: var(--secondary-color);
                    text-decoration: none !important;
                    position: relative;
                }
                &:hover, &.active {
                    background-color: var(--border-color-light);
                }
                img, svg {
                    max-width: 35px;
                    max-height: 35px;
                    object-fit: scale-down;
                }
            }
            &-dropdown {
                position: relative;
                margin-right: 1.45rem;
                @include media("lg") {
                    margin-right: 0;
                }
                & > a::after {
                    position: absolute;
                    right: -1.6rem;
                    content: url("../../img/icons/icon-arrow-default.svg");
                }
                &-content {
                    display: none;
                    padding-top: .5rem;
                    position: absolute;
                    z-index: 9999;
                    top: 100%;
                    width: 100%;
                    & > div {
                        background-color: var(--highlight-color);
                        border-radius: var(--border-radius);
                        padding: .75rem 1rem;
                        ul {
                            li {
                                &:not(:last-child) a {
                                    margin-bottom: .5rem;
                                }
                                a {
                                    display: block;
                                    transition-duration: 0.15s;
                                    &:hover {
                                        filter: drop-shadow(0px 0px 4px var(--secondary-color));
                                    }
                                    img {
                                        border-radius: 50%;
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover &-content {
                    display: block;
                }
            }
        }
    }
    .navbar-toggler {
        margin: 0 !important;
        padding: 0 !important;
    }
    .animated-icon {
        width: 30px;
        height: 24px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        display: block;
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            background: var(--secondary-color);
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 10px;
            }
            &:nth-child(3) {
                top: 20px;
            }
        }
        &.open span {
            &:nth-child(1) {
                top: 11px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            &:nth-child(3) {
                top: 11px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
    &-search {
        @include min-media("lg") {
            position: relative;
        }
        &-close {
            position: absolute;
            top: 1.55rem;
            right: 0.975rem;
            svg {
                &, path {
                    fill: var(--secondary-color);
                }
            }
        }
        &-inner {
            display: none;
            position: absolute;
            right: 0;
            padding-top: .5rem;
            @media (max-width: 1200px) and (min-width: 993px) {
                top:-2px;
                bottom: -2px;
                right: 3.5rem;
                padding-top: 0;
            }
            @include media("lg") {
                left: -1rem;
                top: 0;
                bottom: 0;
                right: -1rem;
                width: calc(100% + 2rem);
                backdrop-filter: blur(10px);
                z-index: 2;
            }
            form {
                input {
                    border-radius: var(--button-radius);
                    padding: .875rem 4.5rem .875rem 1.5rem;
                    width: 250px;
                    margin-right: 4rem;
                    font-weight: 400;
                    color: var(--paragraph-color);
                    font-size: 15px;
                    line-height: 24px;
                    @include media("lg") {
                        padding: 0.7rem 4.5rem 0.7rem 1.5rem;
                        width: 350px;
                    }
                    @include media("sm") {
                        width: 250px;
                    }
                }
                button {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        &.active &-inner {
            display: block;
        }
    }
    &-subpage {
        h1 {
            font-size: 54px;
            line-height: 65px;
            font-weight: 500;
            margin-bottom: 3rem;
            color: var(--secondary-color);
            @include media("xl") {
                margin-bottom: 2rem;
            }
            @include media("md") {
                margin-bottom: 0;
                text-align: center;
            }
        }
        &-photo {
            margin-bottom: -5.5rem;
            display: block;
            width: 800px;
            max-height: 500px;
            aspect-ratio: 2/1;
            margin-left: auto;
            object-fit: cover;
        }
        &-text {
            padding-bottom: 10rem;
            @media (max-width: 1500px) {
                padding-bottom: 8rem;
            }
            @media (max-width: 1350px) {
                padding-bottom: 6rem;
            }
            @include media("xl") {
                padding: 1.5rem 0 4rem 0;
            }
            @include media("lg") {
                padding: 2.5rem 0 4rem;
            }
        }
        &-breadcrumb {
            padding-top: 1.5rem;
            @include media("xxl") {
                padding-top: 0;
            }
            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                @include media("md") {
                    justify-content: center;
                }
                li {
                    display: flex;
                    align-items: center;
                    &:not(:last-child) {
                        &::after {
                            content: "";
                            width: 11px;
                            height: 1px;
                            background-color: var(--highlight-color);
                            display: inline-block;
                            margin: 0 .75rem;
                        }
                    }
                    a {
                        color: var(--secondary-color) !important;
                        transition-duration: 0.15s;
                        text-decoration: none;
                        &[href]:hover {
                            color: var(--highlight-color) !important;
                        }
                    }
                }
            }
        }
    }
}