@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes slideInTop {
    0% {
      transform: translateY(-15rem);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes slideInBottom {
    0% {
      transform: translateY(15rem);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes slideInRight {
    0% {
      transform: translateX(15rem);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-15rem);
    }
    100% {
      transform: translateX(0);
    }
}
.scroll {
    &-animation {
        &-top {
            transform: translateY(-15rem);
        }
        &-bottom {
            transform: translateY(0rem);
        }
        &-left {
            transform: translateX(-15rem);
        }
        &-right {
            transform: translateX(15rem);
        }
    }
    &-hidden {
        overflow-x: clip;
    }
    &-in {
        &-top {
            animation: slideInTop 1s forwards;
        }
        &-bottom {
            animation: slideInBottom 1s forwards;
        }
        &-left {
            animation: slideInLeft 1s forwards;
        }
        &-right {
            animation: slideInRight 1s forwards;
        }
    }
}