.section-benefits {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-benefits-item {
  display: flex;
}

.section-benefits-item-icon {
  flex-shrink: 0;
  background-color: var(--highlight-color2);
  border-radius: 50%;
  width: 45px;
  aspect-ratio: 1/1;
}
