.section-benefits {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-item {
        display: flex;
        align-items: flex-start;
        @include media("md") {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &-icon {
            flex-shrink: 0;
            background-color: var(--highlight-color2);
            border-radius: 50%;
            width: 45px;
            aspect-ratio: 1/1;
            @include flexCenter();
            margin-right: 1rem;
            @include media("md") {
                margin-right: 0;
            }
        }
        &-text {
            span {
                color: var(--tertiary-color);
                font-size: 18px;
                line-height: 28px;
                font-weight: 600;
                margin: .5rem 0;
                display: block;
            }
        }
    }
}