.copyright {
    padding: 1.25rem 0;
    text-align: center;
    p {
        color: var(--light-color);
        margin-bottom: 0;
        @include media("md") {
            font-size: 15px;
            line-height: 26px;
        }
    }
    a {
        color: var(--light-color);
    }
}