.theme-form {
    input:not([type="submit"]), .theme-input {
        border: 1px solid var(--border-color);
        font-size: 15px;
        color: var(--primary-color);
        border-radius: var(--button-radius);
        padding: .9rem 1.25rem;
        height: 55px;
        transition-duration: 0.1s;
        width: 100%;
        &:focus, &:active {
            border-color: var(--highlight-color);
        }
        &::placeholder {
            color: var(--primary-color);
        }
    }
    .theme-select {
        position: relative;
        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12px' height='8px'%3E%3Cpath fill-rule='evenodd' fill='rgb(57, 75, 128)' d='M11.661,1.557 L10.409,0.149 L6.164,4.762 L1.920,0.149 L0.668,1.557 L4.912,6.168 L6.164,7.574 L7.417,6.168 L11.661,1.557 Z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            background-color: var(--highlight-color2);
            right: 0;
            width: 55px;
            top: 0;
            bottom: 0;
            height: 100%;
            border-top-right-radius: var(--button-radius);
            border-bottom-right-radius: var(--button-radius);
        }
        select {
            @extend .theme-input;
            font-weight: 500;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding-right: 4.75rem;
            text-indent: 1px;
            text-overflow: '';
            position: relative;
            border: none;
            background: linear-gradient(to left, transparent 54px, var(--secondary-color) 54px);
            cursor: pointer;
            z-index: 1;
            &::-ms-expand {
                display: none;
            }
            &:focus, &:active {
                border-color: var(--highlight-color2);
            }
        }
    }
    &-dark {
        .theme-select {
            select {
                border-color: var(--secondary-color) !important;
            }
        }
    }
    &-inputWithIcon {
        position: relative;
        input:not([type=submit]), .theme-input {
            padding: 0.9rem 4.75rem 0.9rem 1.25rem;
            &:focus, &:active {
                border-color: var(--highlight-color2);
            }
        }
        button, .theme-button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 1rem 1.25rem;
        }
    }
}