.section-newsletter {
    margin-left: 6rem;
    max-width: 400px;
    @include media("xxl") {
        margin-left: 3rem;
    }
    @include media("xl") {
        margin-left: 0;
    }
    &-heading {
        margin-bottom: 2rem;
        @include media("sm") {
            margin-bottom: 1.25rem;
        }
        h3 {
            color: var(--highlight-color);
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1rem;
            letter-spacing: .025rem;
        }
        p {
            color: var(--primary-color);
            font-size: 19px;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
}