.section-news {
    &-row {
        margin-bottom: -1.5rem;
    }
    &-item {
        background-color: var(--secondary-color);
        height: calc(100% - .8rem);
        margin-bottom: .8rem;
        box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.03);
        border-radius: var(--border-radius);
        &-date {
            position: absolute;
            bottom: -15px;
            left: 2.5rem;
            background-color: var(--highlight-color2);
            color: var(--primary-color);
            padding: .33rem .8rem;
            font-size: 13px;
            font-weight: 600;
            border-radius: 3px;
            @include widthFit();
            @include media("sm") {
                left: 1.75rem;
            }
        }
        &-noImage &-date {
            bottom: unset;
            top: 2.5rem;
            @include media("sm") {
                top: 1.75rem;
            }
        }
        &-body {
            padding: 3rem 2.5rem 2.75rem;
            @include media("sm") {
                padding: 2.5rem 1.75rem 2.5rem;
            }
        }
        &-noImage &-body {
            padding: 6rem 2.5rem 2.75rem;
            @include media("sm") {
                padding: 5rem 1.75rem 2.5rem
            }
        }
        &-image {
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
            width: 100%;
            height: 300px;
            overflow: hidden;
            display: block;
            @include media("sm") {
                max-height: 220px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
                transition-duration: 0.1s;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
        &-title {
            margin-top: 0 !important;
            color: var(--primary-color);
            font-size: 19px;
            text-transform: uppercase;
            display: block;
            font-weight: 600;
            margin-bottom: .5rem !important;
            transition-duration: 0.1s;
            &:hover {
                color: var(--highlight-color);
                text-decoration: none;
            }
        }
        &-description {
            color: var(--paragraph-color);
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            letter-spacing: 0.025rem;
            margin-bottom: 0;
            display: inline-block;
        }
        &-more {
            margin-left: .3rem;
            color: var(--primary-color);
            font-weight: 600;
            display: inline-block;
            transition-duration: 0.15s;
            &:hover {
                text-decoration: none !important;
                filter: brightness(0);
            }
        }
    }
}