.section-products {
    background-image: url("../img/section-products-background.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 97% 100%;
    @media (min-width: 2000px) {
        background-position: right;
        background: linear-gradient(to left, #fff 8%, #001f4d 0);
    }
    @media (min-width: 2400px) {
        background: linear-gradient(to left, #fff 15%, #001f4d 0);
    }
    @media (min-width: 2800px) {
        background: linear-gradient(to left, #fff 23%, #001f4d 0);
    }
    @media (min-width: 3200px) {
        background: linear-gradient(to left, #fff 30%, #001f4d 0);
    }
    @include media("xxl") {
        background-size: 98% 100%;
    }
    @include media("xl") {
        background-size: cover;
    }
    @include media("lg") {
        background-size: cover;
        background-position: center;
        padding-top: 0;
    }
    &-gallery {
        max-width: 948px;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        &-item {
            width: 25%;
            @include media("xl") {
                width: calc(100% / 3);
            }
            @include media("md") {
                width: calc(100% / 2);
            }
            position: relative;
            overflow: hidden;
            display: block;
            max-height: 320px;
            span {
                font-size: 22px;
                letter-spacing: -.5px;
                line-height: 32px;
                color: var(--secondary-color);
                font-weight: 600;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                text-align: center;
            }
            img {
                transition-duration: 0.15s;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform: scale(1.01);
            }
            &:hover img {
                transform: scale(1.15);
            }
        }
    }
    &-texts {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &-inner {
            padding-left: 5rem;
            height: 100%;
            @include media("xxl") {
                padding-left: 2rem;
            }
            @include media("xl") {
                padding-left: 0;
            }
            @include media("lg") {
                margin-top: 4.5rem;
            }
            @include media("md") {
                margin-top: 3rem;
            }
        }
    }
}