.section-quality-certificates {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.section-quality-certificates-item {
  border-radius: var(--small-radius);
  border: 2px solid var(--highlight-color2);
  padding: 2rem 1.25rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 165px;
  height: 100%;
  position: relative;
  text-decoration: none !important;
  transition-duration: 0.15s;
}

.section-quality-certificates-item-icon {
  margin-bottom: .75rem;
  height: 48px;
}

.section-quality-certificates-item-icon, .section-quality-certificates-item-icon path {
  transition-duration: 0.15s;
  fill: var(--highlight-color2);
}

.section-quality-certificates-item span {
  font-size: 16px;
  line-height: 30px;
  color: var(--highlight-color2);
  font-weight: 700;
  transition-duration: 0.15s;
}

.section-quality-certificates-item-plus {
  position: absolute;
  bottom: .75rem;
  right: .75rem;
  background-color: var(--highlight-color2);
  border-radius: 50%;
  padding: .5rem;
  transition-duration: 0.15s;
}

.section-quality-certificates-item-plus svg {
  width: 9px;
}

.section-quality-certificates-item-plus svg, .section-quality-certificates-item-plus svg path {
  fill: var(--secondary-color);
}

.section-quality-certificates-item:hover {
  border-color: var(--highlight-color);
}

.section-quality-certificates-item:hover span {
  color: var(--highlight-color);
}

.section-quality-certificates-item:hover .section-quality-certificates-item-icon, .section-quality-certificates-item:hover .section-quality-certificates-item-icon path {
  fill: var(--highlight-color);
}

.section-quality-certificates-item:hover .section-quality-certificates-item-plus {
  background-color: var(--highlight-color);
}
