.section {
    padding: 6rem 0;
    @include media("md") {
        padding: 4rem 0;
    }
    &-spacing {
        &-remove {
            padding-top: 0;
        }
        &-reduce {
            padding: 3rem 0 6rem;
            @include media("md") {
                padding: 2rem 0 4rem;
            }
        }
    }
    &-overflow-bottom {
        margin-bottom: -10rem;
        @include media("xxl") {
            margin-bottom: 0rem;
        }
        @include media("md") {
            padding: 2rem 0 4rem;
        }
        &-before {
            padding: 10rem 0 6rem;
            @include media("xxl") {
                padding: 6rem 0;
            }
            @include media("md") {
                padding: 4rem 0;
            }
        }
    }
    &-title {
        span {
            color: var(--tertiary-color);
            font-size: 36px;
            line-height: 50px;
            font-weight: 400;
            display: block;
            margin-bottom: .5rem;
        }
        h1,h2,h3 {
            color: var(--tertiary-color);
            letter-spacing: -1px;
            @include media("md") {
                text-align: center;
            }
        }
        h1,h2 {
            font-size: 48px;
            line-height: 60px;
            font-weight: 600;
            margin-bottom: 3rem;
        }
        h3 {
            font-size: 30px;
            line-height: 45px;
            font-weight: 600;
            margin-bottom: 2.5rem;
        }
    }
    &-footer {
        margin-top: 4.5rem;
        @include media("md") {
            margin-top: 3rem;
            a {
                margin: 0 auto;
            }
        }
    }
    &-output {
        @include media("md") {
            * {
                text-align: center;
            }
            ol, ul {
                @include widthFit();
                margin-right: auto;
                margin-left: auto;
                &, li {
                    text-align: left;
                }
            }
        }
        p, li {
            font-size: 16px;
            line-height: 30px;
            font-weight: 500;
            color: var(--paragraph-color);
        }
        & > *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        & > *:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                display: flex;
                &::before {
                    content: url("../../img/icons/icon-plus.svg");
                    margin-right: 1rem;
                }
            }
        }
        h1, h2, h3, h4, h5, h6 {
            color: var(--tertiary-color);
        }
        h3 {
            font-size: 30px;
            line-height: 45px;
            font-weight: 600;
            margin-bottom: 2.5rem;
        }
        h4 {
            font-size: 24px;
            line-height: 38px;
            font-weight: 600;
            margin-bottom: 2rem;
        }
    }
    &-label {
        background-color: var(--highlight-color2);
        border-radius: var(--border-radius);
        display: block;
        @include widthFit();
        padding: .25rem 1.5rem;
        line-height: 24px;
        color: var(--secondary-color);
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 2.5rem;
        @include media("md") {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-image {
        &-right {
            padding-right: 5rem;
        }
        &-left {
            padding-left: 5rem;
        }
        &-right, &-left {
            max-height: 500px;
            object-fit: scale-down;
            @include media("xxl") {
                padding: 0;
            }
        }
    }
    &-dark {
        h1,h2,h3,h4,h5,p,li {
            color: var(--secondary-color);
        }
        p, li {
            font-weight: 400;
        }
    }
    &-background {
        &-light {
            background-color: var(--background-secondary-color);
        }
        &-dark {
            background-image: linear-gradient(135deg, #0b2e6b 0%, #0b2e6b 0%, #001b49 72%, #001b49 99%, #001b49 100%);
        }
        &-remove {
            background-image: none !important;
            background-color: transparent !important;
        }
    }
    &-boxes {
        &-row {
            margin-bottom: -4rem;
            @include media("md") {
                margin-bottom: -3rem;
            }
        }
        &-item {
            margin-bottom: 4rem;
            @include media("md") {
                margin-bottom: 3rem;
            }
            &-imagebox {
                margin-bottom: 2rem;
                @include media("md") {
                    margin-bottom: 1.5rem;
                }
                img {
                    width: 250px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    @include media("md") {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    &-image {
        &-first {
            @include media("lg") {
                padding-top: 0;
            }
        }
    }
}