.subscription {
    .subscriptionBox {
        -webkit-box-shadow: 2px 2px 9px 0px rgb(0 0 0 / 7%);
        -moz-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.07);
        box-shadow: 2px 2px 9px 0px rgb(0 0 0 / 7%);
        @include media("lg") {
            margin-bottom: 2rem;
        }
        &__header {
            background-image: linear-gradient(90deg, #4076f3 0%, #6c53f3 100%);
            @include flexCenterDir(column);
            padding: 1.75rem;
            h2 {
                margin: 0;
                color: $primary-color-darkbg;
                text-transform: uppercase;
            }
            span {
                color: $primary-color-darkbg;
                font-weight: 600;
                font-size: 18px;
            }
        }
        &__body {
            padding: 2.5rem 1.5rem 2rem;
        }
        &__price {
            margin-top: 2rem;
            color: $primary-color;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: -1px;
            text-align: center;
        }
    }
}