* {
  font-family: var(--font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  overflow-x: hidden;
}
body {
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  text-decoration: underline;
  color: var(--link-color);
}
h1,h2,h3,h4,h5,h6 {
  color: var(--primary-color);
  font-family: var(--font2);
  line-height: 1.4;
}
p,li {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 30px;
}
input, textarea, button, select {
  outline: none;
  box-shadow: none;
  border: none;
}
.w-fit {
  width: fit-content;
  width: -moz-fit-content;
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.owl-carousel .owl-nav button {
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.fw-bold {
  font-weight: 600 !important;
}
.row .container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.text-tertiary {
  color: var(--tertiary-color) !important;
}
.text-purple {
  color: var(--highlight-color2) !important;
}